csvtojson/src/main/app/csvtojson.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<file:connector name="File" autoDelete="true" streaming="false" validateConnections="true" doc:name="File"/>
    <flow name="csvToJson">
        <file:inbound-endpoint path="C:/Rohan/MuleExperinment/In" connector-ref="File" responseTimeout="10000" doc:name="readFile">
            <file:filename-regex-filter pattern="(.*).text" caseSensitive="true"/>
        </file:inbound-endpoint>
        <set-variable variableName="pmessage" value="#[message.payloadAs(java.lang.String)]" doc:name="initialiseStringVariable"/>
        <scripting:transformer doc:name="csvToJsonMap">
            <scripting:script engine="jython" file="C:\Users\r.reddy\AnypointStudio\workspace\csvtojson\src\main\resources\csvToJson.py"/>
        </scripting:transformer>
        <file:outbound-endpoint path="C:/Rohan/MuleExperinment/Out" outputPattern=".abcd" connector-ref="File" responseTimeout="10000" doc:name="writeFile"/>
    </flow>
</mule>
